*.pyc
__pycache__
.cache
.coverage
dibctl.egg-info/
build/
os_cred
dibtests
integration_tests/cassettes/*.old
integration_tests/images.yaml
integration_tests/test.yaml
integration_tests/upload.yaml
integration_tests/test.yaml.secret
integration_tests/upload.yaml.secret
integration_tests/images.yaml.secret
