interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-dc324df8-b48b-4903-8c32-18313c55aa63]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-18T16:41:41.000000Z",
        "expires": "2037-05-19T16:41:41Z", "id": "eea139125f2f4e48bcd24663a6f9a72c",
        "tenant": {"description": "28 tenant (by test, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["azDWW8iJQNOQ718DHQ9emg"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}], "endpoints_links":
        [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/2eb14fc3-4edc-4068-8748-988f369302c2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-checksum: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-04-11T10:01:04.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [2eb14fc3-4edc-4068-8748-988f369302c2]
      x-image-meta-is_public: ['True']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [Obsolete Ubuntu 16.04 Xenial (x86_64)]
      x-image-meta-owner: [307a54ceb3a44cc8a6ea14caaf62ff7e]
      x-image-meta-property-display_order: ['2']
      x-image-meta-property-obsolete: ['True']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['544962560']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-04-20T10:42:39.000000']
      x-openstack-request-id: [req-81878f69-0612-486b-883c-65d7db0ecc96]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000"}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUE8firIvuNnaTFOR+m7ZNCa8Usb2ahb/ghlgFDtrjBO3n8T3gsdSj6gyOqwfeHgh1z1PoBEwAGzo9tlO9Tu3qtR9jXHkU3rI1gO1JHzNrwIthp61gBpwPCgXEG78LPufJS+teJ9JAMRq9vyUC8ceAoPcYmEcjFBdQFQ6kpYsyDGgi/l4gz3SMDMOOD6WKMHCo6tFjuey/HJRC1137VDr2ParjF6AMcLs54D8mk94gxsTxyO4TnaP2gbezD2aH4+HJuP8e6juoY30Ha6/4Tv4NMuOgZ2LZgPVOmDFHpFHlzSMimEnKfnVU+q6MPrCuNjNUgwwH4Qa9poe5eZPXb3T
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqQIBAAKCAQEAylBPH4qyL7jZ2kxTkfpu2TQmvFLG9moW/4IZYBQ7a4wTt5/E\n94LHUo+oMjqsH3h4Idc9T6ARMABs6PbZTvU7t6rUfY1x5FN6yNYDtSR8za8CLYae\ntYAacDwoFxBu/Cz7nyUvrXifSQDEavb8lAvHHgKD3GJhHIxQXUBUOpKWLMgxoIv5\neIM90jAzDjg+lijBwqOrRY7nsvxyUQtdd+1Q69j2q4xegDHC7OeA/JpPeIMbE8cj\nuE52j9oG3sw9mh+Phybj/Huo7qGN9B2uv+E7+DTLjoGdi2YD1TpgxR6RR5c0jIph\nJyn51VPqujD6wrjYzVIMMB+EGvaaHuXmT1290wIDAQABAoIBAQCDVX8HytHBiQ5j\nWAkoSpqLBf/fYR0n+dbUJ3CxnnC0cEqceWs0AgHC5t8ZPF1gUKQr075JYm/F6YDJ\n+vU[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.c[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-50962d35-45a6-43a0-972f-c00757d3c4ba]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "imageRef": "2eb14fc3-4edc-4068-8748-988f369302c2", "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14565"}]}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "c06688ad-edf1-4fae-9a52-150c119e0c90",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90",
        "rel": "bookmark"}], "adminPass": "bfH9pfN427uN"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90']
      x-compute-request-id: [req-31744974-b994-4265-8734-2308c985c65a]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-05-18T16:41:44Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "2eb14fc3-4edc-4068-8748-988f369302c2", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/2eb14fc3-4edc-4068-8748-988f369302c2",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "c06688ad-edf1-4fae-9a52-150c119e0c90", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "16665fa4f4a54f0da3e72e9bf8f08ffc",
        "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000", "created": "2017-05-18T16:41:44Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-ba5aad16-21c4-4748-975e-465c9f5eb2ca]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-05-18T16:41:57Z",
        "hostId": "5a17e4ea4ab8ed1c1f2d745f57246997fd33955066229974bc201ead", "addresses":
        {"global_private": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:2d:32:33", "version":
        4, "addr": "10.160.2.131", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:6d:1c:f2", "version": 4, "addr": "192.168.2.209",
        "OS-EXT-IPS:type": "fixed"}], "internet_213.196.39.192/27": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:62:4f:43", "version": 4, "addr": "213.196.39.200", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/c06688ad-edf1-4fae-9a52-150c119e0c90",
        "rel": "self"}, {"href": "http://co[...]
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode eea139125f2f4e48bcd24663a6f9a72c]
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-deadbeaf-4078-11e7-8228-000000000000
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-8f294427-62c7-414c-9700-3f560de63e2d]
    status: {code: 202, message: Accepted}
version: 1
