interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-94547b4f-d9b1-43af-a59d-008785db34c4]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-18T16:41:58.000000Z",
        "expires": "2037-05-19T16:41:58Z", "id": "a25cb2c78a7f4323ad1a199af49f5f16",
        "tenant": {"description": "28 tenant (by test, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["mHn2DVQhR1yytvX0149r2w"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}], "endpoints_links":
        [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000"}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfJ+L5H4oZjMZVj5464GwufQVp+TP90JJ9ONgMDNf7b4coox33xvQhbFgha1ZWwcErd8L7x+tjIIkNeYvb6ZoApQ5x2aR2Q0DJ5nJXyqL/bW7kPNfhqgyxECbcsVIaZuI7gX+N5TY0qqH2m5bw063dHG/Ur2+GDV6Ru+dQfW8Xrn+yHbRogtW5b1isCipIjJci+NZKcodoYDiujD1CeofH8jW3T6A7dwr9wEQIBIqKWrQp7tq0oRICFhXHcE0rJHgE824Q1dODjnEY9ulItBobclHeVNokbzmPhhEI92JhkcQzVkVYM/20gTY716RsnJbUXE2kq6SOCPdWDxOnDWsL
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqAIBAAKCAQEAnyfi+R+KGYzGVY+eOuBsLn0Fafkz/dCSfTjYDAzX+2+HKKMd\n98b0IWxYIWtWVsHBK3fC+8frYyCJDXmL2+maAKUOcdmkdkNAyeZyV8qi/21u5DzX\n4aoMsRAm3LFSGmbiO4F/jeU2NKqh9puW8NOt3Rxv1K9vhg1ekbvnUH1vF65/sh20\naILVuW9YrAoqSIyXIvjWSnKHaGA4row9QnqHx/I1t0+gO3cK/cBECASKilq0Ke7a\ntKESAhYVx3BNKyR4BPNuENXTg45xGPbpSLQaG3JR3lTaJG85j4YRCPdiYZHEM1ZF\nWDP9tIE2O9ekbJyW1FxNpKukjgj3Vg8Tpw1rCwIDAQABAoIBAQCHKs3mO/YCav+K\nbPW6FR1rgfxWGzIfrsKqnNtHqKTJwtdsGNR7ublepXBXuZxTBCy1aPns8cYkot4i\n1oa[...]
- request:
    body: !!python/unicode "5\r\ntest\n\r\n0\r\n\r\n"
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
      x-image-meta-container_format: [bare]
      x-image-meta-disk_format: [qcow2]
      x-image-meta-is_public: ['False']
      x-image-meta-name: [DIBCTL-deadbeaf-4078-11e7-8228-000000000000]
      x-image-meta-property-display_order: ['4']
      x-image-meta-size: ['5']
    method: POST
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images
  response:
    body: {string: !!python/unicode '{"image": {"status": "active", "deleted": false,
        "container_format": "bare", "min_ram": 0, "updated_at": "2017-05-18T16:42:01.000000",
        "owner": "1d7f6604ebb54c69820f9d157bcea5f9", "min_disk": 0, "is_public": false,
        "deleted_at": null, "id": "6faf4196-2bcc-4ed3-9142-a4ad57fd00f0", "size":
        5, "virtual_size": null, "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249", "created_at": "2017-05-18T16:42:00.000000",
        "disk_format": "qcow2", "properties": {"display_order": "4"}, "protected":
        false}}'}
    headers:
      content-type: [application/json]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      location: ['http://images.servers.nl01.cloud.servers.com:9292/v1/images/6faf4196-2bcc-4ed3-9142-a4ad57fd00f0']
      x-openstack-request-id: [req-d104eb59-9602-499b-9800-112aeee820b3]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.c[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-88d488dc-b96a-4c0b-9d07-d6c8a7d7aacb]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "imageRef": "6faf4196-2bcc-4ed3-9142-a4ad57fd00f0", "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14565"}]}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "rel": "bookmark"}], "adminPass": "LbGZrVw7TXVe"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41']
      x-compute-request-id: [req-14ef820e-3302-4707-b344-fa067f71acef]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-05-18T16:42:02Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "6faf4196-2bcc-4ed3-9142-a4ad57fd00f0", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/6faf4196-2bcc-4ed3-9142-a4ad57fd00f0",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "151e1af1-51d1-4109-b8dd-27c0eb100a41", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "16665fa4f4a54f0da3e72e9bf8f08ffc",
        "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000", "created": "2017-05-18T16:42:02Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-1945e774-10a7-4a9c-bf77-136eb285ec46]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-05-18T16:42:13Z",
        "hostId": "5a17e4ea4ab8ed1c1f2d745f57246997fd33955066229974bc201ead", "addresses":
        {"global_private": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:8f:90:15", "version":
        4, "addr": "10.160.2.132", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:1e:d9:00", "version": 4, "addr": "192.168.2.210",
        "OS-EXT-IPS:type": "fixed"}], "internet_213.196.39.192/27": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:39:96:d2", "version": 4, "addr": "213.196.39.201", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/151e1af1-51d1-4109-b8dd-27c0eb100a41",
        "rel": "self"}, {"href": "http://co[...]
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-deadbeaf-4078-11e7-8228-000000000000
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-d50deeaa-31a4-4c60-b3de-87dfe077e712]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode a25cb2c78a7f4323ad1a199af49f5f16]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/6faf4196-2bcc-4ed3-9142-a4ad57fd00f0
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      x-image-meta-checksum: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-05-18T16:42:00.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [6faf4196-2bcc-4ed3-9142-a4ad57fd00f0]
      x-image-meta-is_public: ['False']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [DIBCTL-deadbeaf-4078-11e7-8228-000000000000]
      x-image-meta-owner: [1d7f6604ebb54c69820f9d157bcea5f9]
      x-image-meta-property-display_order: ['4']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['5']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-05-18T16:42:01.000000']
      x-openstack-request-id: [req-4bfd9d99-4a73-408f-8422-06bfcf986d74]
    status: {code: 200, message: OK}
[...]
