interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-6bfe8c8e-b20c-46b7-8b91-064fff779c4f]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "demotenant", "passwordCredentials":
      {"username": "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-06-06T12:22:52.000000Z",
        "expires": "2037-06-07T12:22:52Z", "id": "d81e808b9f4e44f7988bf0ab359e0b89",
        "tenant": {"description": "Use in demo environment", "enabled": true, "id":
        "4e632076f7004f908c8da67345a7592e", "name": "demotenant"}, "audit_ids": ["-ADygTIsTsOykQ0YgYM2hQ"]},
        "serviceCatalog": [{"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/4e632076f7004f908c8da67345a7592e",
        "region": "lab-1", "internalURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/4e632076f7004f908c8da67345a7592e",
        "id": "2e61ac6cc99345a1b152779600918c2e", "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/4e632076f7004f908c8da67345a7592e"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696", "id":
        "6ec649b0f7cc4554a041defadf552fc1", "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode d81e808b9f4e44f7988bf0ab359e0b89]
    method: GET
    uri: https://compute.nova-lab-1.mgm.servers.com:8774/v2/4e632076f7004f908c8da67345a7592e/servers/detail?all_tenants=1
  response:
    body: {string: !!python/unicode '{"servers": [{"status": "ACTIVE", "updated":
        "2017-06-06T11:35:58Z", "hostId": "78f1e821597c5e973eff7fad788a9a941e53573fb5db187cab364023",
        "OS-EXT-SRV-ATTR:host": "compute2", "addresses": {"internet_188.42.163.160/27":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:ec:13:77", "version": 6, "addr": "2a00:1178:3:101:f816:3eff:feec:1377",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:ec:13:77",
        "version": 4, "addr": "188.42.163.181", "OS-EXT-IPS:type": "fixed"}]}, "links":
        [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/v2/4e632076f7004f908c8da67345a7592e/servers/9f51f3e1-1819-4460-bddb-204d2d114e76",
        "rel": "self"}, {"href": "http://compute.nova-lab-1.mgm.servers.com:8774/4e632076f7004f908c8da67345a7592e/servers/9f51f3e1-1819-4460-bddb-204d2d114e76",
        "rel": "bookmark"}], "key_name": "x220", "image": {"id": "a2b83581-cddf-438a-996d-50ae59ff783c",
        "links": [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/4e632076f7004f908c8da67345a7592e/images/a2b83581-cddf-438a-996d-50ae59ff783c",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "9f51f3e1-1819-4460-bddb-204d2d114e76",
        "OS-SRV-USG:launched_at": "2017-06-06T11:35:58.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname":
        "compute2.nova-lab-1.servers.com", "flavor": {"id": "30", "links": [{"href":
        "http://compute.nova-lab-1.mgm.servers.com:8774/4e632076f7004f908c8da67345a7592e/flavors/30",
        "rel": "bookmark"}]}, "id": "9f51f3e1-1819-4460-bddb-204d2d114e76", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "6fd02e32d66e4e7483cfe2b5c2e15477",
        "name": "hoggingup2", "created": "2017-06-06T11:35:35Z", "tenant_id": "4e632076f7004f908c8da67345a7592e",
        "OS-DCF:diskConfig": "AUTO", "os-extended-volumes:volumes_attached": [], "accessIPv4":
        "", "accessIPv6": "", "progress": 0, "OS-EXT-STS:power_state": 1, "config_drive":
        "", "metadata": {}}, {"status": "ACTIVE", "updated": "2017-06-06T11:35:38Z",
        "hostId": "2e7e1bbe1771c8d8b4d322a5d71514dc0f456a963309be16a91b6f46", "OS-EXT-SRV-ATTR:host":
        "compute1", "addresses": {"internet_188.42.163.160/27": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:38:6e:fa", "version": 6, "addr": "2a00:1178:3:101:f816:3eff:fe38:6efa",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:38:6e:fa",
        "version": 4, "addr": "188.42.163.180", "OS-EXT-IPS:type": [...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode d81e808b9f4e44f7988bf0ab359e0b89]
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?property-obsolete=true&limit=20
  response:
    body: {string: !!python/unicode '{"images": [{"status": "active", "deleted_at":
        null, "name": "Obsolete Ubuntu 16.04 Xenial (x86_64)", "deleted": false, "container_format":
        "bare", "created_at": "2017-05-26T15:20:20.000000", "disk_format": "qcow2",
        "updated_at": "2017-06-01T14:44:06.000000", "min_disk": 0, "protected": false,
        "id": "1f3a8a94-8330-44cc-9b82-880fc714ffa8", "min_ram": 0, "checksum": "4908b5fda3aaa5b152fbb639f376bfa5",
        "owner": "61ed529dc6024dc5968acf32b6f4142c", "is_public": true, "virtual_size":
        null, "properties": {"display_order": "90", "obsolete": "True"}, "size": 558565888},
        {"status": "active", "deleted_at": null, "name": "Obsolete Debian 7 Wheezy
        (x86_64)", "deleted": false, "container_format": "bare", "created_at": "2017-05-26T15:17:25.000000",
        "disk_format": "qcow2", "updated_at": "2017-06-02T14:01:18.000000", "min_disk":
        0, "protected": false, "id": "8b52d0b9-a60f-48a5-aef3-d7e13272a506", "min_ram":
        0, "checksum": "8fe36de19fbb6c33f0342724f619a380", "owner": "61ed529dc6024dc5968acf32b6f4142c",
        "is_pub[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode d81e808b9f4e44f7988bf0ab359e0b89]
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?property-obsolete=true&marker=641c5a8f-3b79-42a6-8580-3466f976fe64&limit=20
  response:
    body: {string: !!python/unicode '{"images": [{"status": "active", "deleted_at":
        null, "name": "Obsolete Ubuntu 14.04 Trusty (x86_64)", "deleted": fals[...]
