interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-2a626ad1-e029-48c3-ba3c-f0619e833f1c]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"error": {"message": "The request you have made
        requires authentication.", "code": 401, "title": "Unauthorized"}}'}
    headers:
      content-type: [application/json]
      www-authenticate: ['Keystone uri="https://auth.servers.nl01.cloud.servers.com:5000"']
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-0649076a-fc56-4ec6-ad6d-480c5d98bf71]
    status: {code: 401, message: Unauthorized}
version: 1
