interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-ed4c3feb-a696-48e4-9af4-127d0e4d8c7b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "public_images", "passwordCredentials":
      {"username": "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-30T15:00:44.000000Z",
        "expires": "2035-05-31T15:00:44Z", "id": "4f882f10599c417caabdfb306b3d7446",
        "tenant": {"description": "For images manipulations", "enabled": true, "id":
        "61ed529dc6024dc5968acf32b6f4142c", "name": "public_images"}, "audit_ids":
        ["_Q3l3qeyRV6KG-0oS0lRkQ"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "region": "lab-1", "id": "2e61ac6cc99345a1b152779600918c2e", "internalURL":
        "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "id": "6ec649b0f7cc4554a041defadf552fc1", "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696",
        "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}], "endpoints_links":
        [], "type": "network", "name": "neutron"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776/v2/61ed[...]
- request:
    body: !!python/unicode 'test

'
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 4f882f10599c417caabdfb306b3d7446]
      x-image-meta-container_format: [bare]
      x-image-meta-disk_format: [qcow2]
      x-image-meta-is_public: ['False']
      x-image-meta-name: [Empty image]
    method: POST
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images
  response:
    body: {string: !!python/unicode '{"image": {"status": "active", "deleted": false,
        "container_format": "bare", "min_ram": 0, "updated_at": "2017-05-30T15:00:46.000000",
        "owner": "61ed529dc6024dc5968acf32b6f4142c", "min_disk": 0, "is_public": false,
        "deleted_at": null, "id": "22a643bd-b411-49ee-96a0-307666060dff", "size":
        5, "virtual_size": null, "name": "Empty image", "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249",
        "created_at": "2017-05-30T15:00:45.000000", "disk_format": "qcow2", "properties":
        {}, "protected": false}}'}
    headers:
      content-type: [application/json]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      location: ['http://images.nova-lab-1.mgm.servers.com:9292/v1/images/22a643bd-b411-49ee-96a0-307666060dff']
      x-openstack-request-id: [req-68213c8b-f9d4-4606-9e72-0642ab3ccc72]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 4f882f10599c417caabdfb306b3d7446]
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?limit=20&name=Empty+image
  response:
    body: {string: !!python/unicode '{"images": [{"status": "active", "deleted_at":
        null, "name": "Empty image", "deleted": false, "container_format": "bare",
        "created_at": "2017-05-30T15:00:45.000000", "disk_format": "qcow2", "updated_at":
        "2017-05-30T15:00:46.000000", "min_disk": 0, "protected": false, "id": "22a643bd-b411-49ee-96a0-307666060dff",
        "min_ram": 0, "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249", "owner": "61ed529dc6024dc5968acf32b6f4142c",
        "is_public": false, "virtual_size": null, "properties": {}, "size": 5}]}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-openstack-request-id: [req-ee197307-a4ca-4e11-b894-d3b4b62cbd75]
    status: {code: 200, message: OK}
version: 1
