interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-d83156d0-358c-4984-bcd0-1714551f0b49]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "public_images", "passwordCredentials":
      {"username": "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-31T11:53:24.000000Z",
        "expires": "2037-06-01T11:53:24Z", "id": "68787a5f7fd349b494cdd9c0f7139415",
        "tenant": {"description": "For images manipulations", "enabled": true, "id":
        "61ed529dc6024dc5968acf32b6f4142c", "name": "public_images"}, "audit_ids":
        ["QXuHNIPrSNmnxf86LOHPsQ"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "region": "lab-1", "id": "2e61ac6cc99345a1b152779600918c2e", "internalURL":
        "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "id": "6ec649b0f7cc4554a041defadf552fc1", "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696",
        "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}], "endpoints_links":
        [], "type": "network", "name": "neutron"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776/v2/61ed[...]
- request:
    body: !!python/unicode 'test

'
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 68787a5f7fd349b494cdd9c0f7139415]
      x-image-meta-container_format: [bare]
      x-image-meta-disk_format: [raw]
      x-image-meta-is_public: ['False']
      x-image-meta-name: [Empty image]
    method: POST
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images
  response:
    body: {string: !!python/unicode '{"image": {"status": "active", "deleted": false,
        "container_format": "bare", "min_ram": 0, "updated_at": "2017-05-31T11:53:26.000000",
        "owner": "61ed529dc6024dc5968acf32b6f4142c", "min_disk": 0, "is_public": false,
        "deleted_at": null, "id": "c46da0d3-03c9-47f7-9db5-f0d8000345d1", "size":
        5, "virtual_size": null, "name": "Empty image", "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249",
        "created_at": "2017-05-31T11:53:25.000000", "disk_format": "raw", "properties":
        {}, "protected": false}}'}
    headers:
      content-type: [application/json]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      location: ['http://images.nova-lab-1.mgm.servers.com:9292/v1/images/c46da0d3-03c9-47f7-9db5-f0d8000345d1']
      x-openstack-request-id: [req-54881261-3f39-4e3a-8d05-33f6215b8794]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 68787a5f7fd349b494cdd9c0f7139415]
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?limit=20&name=Empty+image
  response:
    body: {string: !!python/unicode '{"images": [{"status": "active", "deleted_at":
        null, "name": "Empty image", "deleted": false, "container_format": "bare",
        "created_at": "2017-05-31T11:53:25.000000", "disk_format": "raw", "updated_at":
        "2017-05-31T11:53:26.000000", "min_disk": 0, "protected": false, "id": "c46da0d3-03c9-47f7-9db5-f0d8000345d1",
        "min_ram": 0, "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249", "owner": "61ed529dc6024dc5968acf32b6f4142c",
        "is_public": false, "virtual_size": null, "properties": {}, "size": 5}]}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-openstack-request-id: [req-85cc325c-7cbe-4754-b13b-d10b838c317d]
    status: {code: 200, message: OK}
version: 1
