interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-76ac117d-fbd1-4b39-a183-fc081315b446]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "public_images", "passwordCredentials":
      {"username": "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-06-06T12:21:12.000000Z",
        "expires": "2037-06-07T12:21:12Z", "id": "af6a9529a97842b583398e1becbed7ab",
        "tenant": {"description": "For images manipulations", "enabled": true, "id":
        "61ed529dc6024dc5968acf32b6f4142c", "name": "public_images"}, "audit_ids":
        ["H3uIH0h-T2uV1ceP7hL3yg"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "region": "lab-1", "internalURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "id": "2e61ac6cc99345a1b152779600918c2e", "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696", "id":
        "6ec649b0f7cc4554a041defadf552fc1", "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode af6a9529a97842b583398e1becbed7ab]
    method: GET
    uri: https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c/servers/detail?all_tenants=1
  response:
    body: {string: !!python/unicode '{"forbidden": {"message": "Policy doesn''t allow
        os_compute_api:servers:detail:get_all_tenants to be performed.", "code": 403}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-compute-request-id: [req-ea2e4287-db2a-45b6-b104-d74d0d740361]
    status: {code: 403, message: Forbidden}
version: 1
