interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-1829ed59-c9e2-45be-9a1f-56ac168c4b25]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-18T16:40:38.000000Z",
        "expires": "2037-05-19T16:40:38Z", "id": "94cecd2e1fdf4755a8e6cf961d972b67",
        "tenant": {"description": "28 tenant (by test, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["1OgKsWMBRzig3WYITOzRTg"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}], "endpoints_links":
        [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/2eb14fc3-4edc-4068-8748-988f369302c2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-checksum: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-04-11T10:01:04.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [2eb14fc3-4edc-4068-8748-988f369302c2]
      x-image-meta-is_public: ['True']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [Obsolete Ubuntu 16.04 Xenial (x86_64)]
      x-image-meta-owner: [307a54ceb3a44cc8a6ea14caaf62ff7e]
      x-image-meta-property-display_order: ['2']
      x-image-meta-property-obsolete: ['True']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['544962560']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-04-20T10:42:39.000000']
      x-openstack-request-id: [req-14792cba-5771-4f7a-bb94-ed63a260cc92]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-731d5015-7f7f-4382-9de2-5279d34c6f16"}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAizKbbnfJ3ZQIvHRqDchYrtocs/E1jquxfFVhqa43dCp++KP2ca7a72856A0nbl3MbNGNQ7aATqQk/G27bcDKnnoWPZkq64Yi/IXM7h3vlZ5jVjkEiv3ujaTVdUHbxT34hYiCmY4DowjXs/GuESKUgus+SRFbpiI2DiPia8vqLRadgmj5Kj0An7EVHruhTFEyTvH1XnlPXV0PbneWy/tUWPc2yPk4X/DSEpvgLxyZrXElW87Ekj9noISimc5an5A5zQJmV1K6WBPyIzeSG51xHeasTtxW6QHjNqeXE9JrPH2YH+SdfEZGaCI+mng4KDGkupOAYRATX8aVhi0xiR0f
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqQIBAAKCAQEAwIsym253yd2UCLx0ag3IWK7aHLPxNY6rsXxVYamuN3Qqfvij\n9nGu2u9vOegNJ25dzGzRjUO2gE6kJPxtu23Ayp56Fj2ZKuuGIvyFzO4d75WeY1Y5\nBIr97o2k1XVB28U9+IWIgpmOA6MI17PxrhEilILrPkkRW6YiNg4j4mvL6i0WnYJo\n+So9AJ+xFR67oUxRMk7x9V55T11dD253lsv7VFj3Nsj5OF/w0hKb4C8cma1xJVvO\nxJI/Z6CEopnOWp+QOc0CZldSulgT8iM3khudcR3mrE7cVukB4zanlxPSazx9mB/k\nnXxGRmgiPpp4OCgxpLqTgGEQE1/GlYYtMYkdHwIDAQABAoIBAHxB2LkCQ4Ac5Qn2\nRNKkbmT9Anl/juzXU+pIqPlL/ch/yWUDpRzIJOXZm1gtbz/BM/tXRqz5w+9t0PSl\ni1N[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.c[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-d9c81882-438d-4326-8f45-86b1772589f5]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-5b1beb94-417d-4e0b-afa5-250c3f2d1619",
      "imageRef": "2eb14fc3-4edc-4068-8748-988f369302c2", "key_name": "DIBCTL-731d5015-7f7f-4382-9de2-5279d34c6f16",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14564"},
      {"uuid": "a3af8097-f348-4767-97c3-b9bf75263ef9"}, {"uuid": "db6e78cb-99fa-4223-9a6f-3b4a9b486d9b"}]}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "rel": "bookmark"}], "adminPass": "bTWS5Y68bMNF"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b']
      x-compute-request-id: [req-7722d2d6-2265-4c57-84a8-65f1f215b84f]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-05-18T16:40:41Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "rel": "bookmark"}], "key_name": "DIBCTL-731d5015-7f7f-4382-9de2-5279d34c6f16",
        "image": {"id": "2eb14fc3-4edc-4068-8748-988f369302c2", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/2eb14fc3-4edc-4068-8748-988f369302c2",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "16665fa4f4a54f0da3e72e9bf8f08ffc",
        "name": "DIBCTL-5b1beb94-417d-4e0b-afa5-250c3f2d1619", "created": "2017-05-18T16:40:41Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-9bdd70b3-da29-40fe-9fa4-bad55f7d0686]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-05-18T16:41:17Z",
        "hostId": "5a17e4ea4ab8ed1c1f2d745f57246997fd33955066229974bc201ead", "addresses":
        {"global_private": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:c7:b5:77", "version":
        4, "addr": "10.160.2.141", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:1e:38:4f", "version": 4, "addr": "192.168.2.207",
        "OS-EXT-IPS:type": "fixed"}], "internet_213.196.39.192/27": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:6d:f4:17", "version": 4, "addr": "213.196.39.196", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b",
        "rel": "self"}, {"href": "http://co[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/70d5fce8-74a1-4c01-9ee8-0f021d9fbe5b/os-interface
  response:
    body: {string: !!python/unicode '{"interfaceAttachments": [{"port_state": "ACTIVE",
        "fixed_ips": [{"subnet_id": "8c13d2de-e9a6-4842-9e67-ab3ac8e26a13", "ip_address":
        "10.160.2.141"}], "port_id": "1a28fcaa-21cf-4808-aa32-0068529499e7", "net_id":
        "c7ccdf1c-e6c3-4257-8b2e-740748c14564", "mac_addr": "fa:16:3e:c7:b5:77"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "9c89e758-d603-4880-8160-942cfa60e48a",
        "ip_address": "213.196.39.196"}], "port_id": "29a77266-3d7b-455f-a972-6a99bc27c60c",
        "net_id": "db6e78cb-99fa-4223-9a6f-3b4a9b486d9b", "mac_addr": "fa:16:3e:6d:f4:17"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "d7408a31-19dc-4af9-83d5-cf4586aab0de",
        "ip_address": "192.168.2.207"}], "port_id": "42338184-7224-4568-894d-0ccbb393cb1c",
        "net_id": "a3af8097-f348-4767-97c3-b9bf75263ef9", "mac_addr": "fa:16:3e:1e:38:4f"}]}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-1c5cb4e1-f063-4a66-9593-df579f904934]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30/os-extra_specs
  response:
    body: {string: !!python/unicode '{"extra_specs": {"tenant": "public"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-1f5a81a4-153f-4235-87fb-e258ffb78b52]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94cecd2e1fdf4755a8e6cf961d972b67]
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-731d5015-7f7f-4382-9de2-5279d34c6f16
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-5ca0c6f7-e729-4a51-beba-e850f5dc4bfd]
    status: {code: 202, message: Accepted}
version: 1
