interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-35a0720a-3bb7-4673-9f01-e85d9043077e]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-08-16T15:33:12.000000Z",
        "expires": "2038-01-15T16:17:18Z", "id": "consealed id", "tenant": {"id":
        "1d7f6604ebb54c69820f9d157bcea5f9", "enabled": true, "description": "", "name":
        "consealed name"}, "audit_ids": ["8ueo2qyURzun-vceg_c31g"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "region": "ams-1", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}],
        "endpoints_links": [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "internalURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "id": "1728d1eb1fce49299f3b9af2b483ea07", "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compute", "na[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      pytest-filtered: ['true']
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/f4ffd69e-20c9-40e6-b22a-808f00bf6458
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [ee41da5a2790212ad556f2d9be4d4f32]
      x-image-meta-checksum: [ee41da5a2790212ad556f2d9be4d4f32]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-08-04T14:47:06.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [f4ffd69e-20c9-40e6-b22a-808f00bf6458]
      x-image-meta-is_public: ['True']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [Debian 9 (64 bit)]
      x-image-meta-owner: [307a54ceb3a44cc8a6ea14caaf62ff7e]
      x-image-meta-property-architecture: [x86_64]
      x-image-meta-property-display_priority: ['600']
      x-image-meta-property-os_arch: [x86_64]
      x-image-meta-property-os_distro: [debian]
      x-image-meta-property-os_version: ['9']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['224683520']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-08-04T14:47:13.000000']
      x-openstack-request-id: [req-55976e52-78d6-40f1-9409-9026d0cc3b20]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000"}}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCgwgKvlayCbWkCxChrGpm2WQk5lx74U6RHQqnCaa+mGFTeJceBCUjM1yr3nkkFVzTy93+sdGiH0mVn8ZiTzOG9F/9a/Da52PDue/IxTDvQAAF3PHzfFGswRSzLKFiuHTlUbysMFjs3hKvvac6QnMd6g9OcqvvABKcf3m4yhLJUGOOb5eysUYvLFJrcC0px6W5+ueCRSk1CkqYpHsDIBaDKS2dLPnHeWe/UfZVHeHEJLIXnNmQUYfslA5c00WybPjLEWfF0W+tM9dholNif71UfE0OJPT5bhu9/MnzDVBnVvyp3ieRefmPgftraVaszhgX/u/CiEB51Lo9BspbY8f3Z
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEpwIBAAKCAQEAoMICr5Wsgm1pAsQoaxqZtlkJOZce+FOkR0KpwmmvphhU3iXH\ngQlIzNcq955JBVc08vd/rHRoh9JlZ/GYk8zhvRf/Wvw2udjw7nvyMUw70AABdzx8\n3xRrMEUsyyhYrh05VG8rDBY7N4Sr72nOkJzHeoPTnKr7wASnH95uMoSyVBjjm+Xs\nrFGLyxSa3AtKcelufrngkUpNQpKmKR7AyAWgyktnSz5x3lnv1H2VR3hxCSyF5zZk\nFGH7JQOXNNFsmz4yxFnxdFvrTPXYaJTYn+9VHxNDiT0+W4bvfzJ8w1QZ1b8qd4nk\nXn5j4H7a2lWrM4YF/7vwohAedS6PQbKW2PH92QIDAQABAoIBAGTEN9rH/zJiUoih\nXJSGQAPFG7s1tvwBsd/ZMX/jr251ofz9wWho4XFFDnHYjf0DBPWnnigDb+JzR404\nK2O[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c6982[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-7af11b9d-abdd-4040-9849-d12da4ce2e6b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "imageRef": "f4ffd69e-20c9-40e6-b22a-808f00bf6458", "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "fe2acef0-4383-4432-8fca-f9e23f835dd5"},
      {"uuid": "a3af8097-f348-4767-97c3-b9bf75263ef9"}, {"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14564"}]}}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "cf33e70f-9938-4188-b755-651ca0f35822",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "bookmark"}], "adminPass": "U9hcG9mLtiVs"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822']
      x-compute-request-id: [req-7b21d045-3d4e-4a9f-b725-836bf5d55814]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-08-16T15:33:15Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "f4ffd69e-20c9-40e6-b22a-808f00bf6458", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/f4ffd69e-20c9-40e6-b22a-808f00bf6458",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "cf33e70f-9938-4188-b755-651ca0f35822", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "05678d47b3ce4c7bab64a729b39a63e0",
        "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000", "created": "2017-08-16T15:33:16Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-0dea34a7-9d19-4e59-8f21-a5a8098e9f99]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-08-16T15:33:36Z",
        "hostId": "febed3d8de5fffee25680314e7b0fa31461dae640665992c5bfaf241", "addresses":
        {"internet_188.42.217.224/27": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:1d:01:0d",
        "version": 4, "addr": "188.42.217.238", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:5e:49:b7", "version": 4, "addr": "192.168.6.57",
        "OS-EXT-IPS:type": "fixed"}], "global_private": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:85:d1:28", "version": 4, "addr": "10.160.2.140", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822",
        "rel": "bookmark"}], "key_name": "DIB[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/cf33e70f-9938-4188-b755-651ca0f35822/os-interface
  response:
    body: {string: !!python/unicode '{"interfaceAttachments": [{"port_state": "ACTIVE",
        "fixed_ips": [{"subnet_id": "8c13d2de-e9a6-4842-9e67-ab3ac8e26a13", "ip_address":
        "10.160.2.140"}], "port_id": "128b4148-9b51-42bc-9b9c-5559b65d83d2", "net_id":
        "c7ccdf1c-e6c3-4257-8b2e-740748c14564", "mac_addr": "fa:16:3e:85:d1:28"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "d7408a31-19dc-4af9-83d5-cf4586aab0de",
        "ip_address": "192.168.6.57"}], "port_id": "17d33fd1-7e8c-46b0-b576-491fbf9fb24c",
        "net_id": "a3af8097-f348-4767-97c3-b9bf75263ef9", "mac_addr": "fa:16:3e:5e:49:b7"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "57580898-9d59-43da-a418-5100a3c74ba9",
        "ip_address": "188.42.217.238"}], "port_id": "2036c17a-936d-4b2f-b33d-6f5dffb8ce9e",
        "net_id": "fe2acef0-4383-4432-8fca-f9e23f835dd5", "mac_addr": "fa:16:3e:1d:01:0d"}]}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-6d84f23c-7288-4284-83ef-67bbcdb33c25]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30/os-extra_specs
  response:
    body: {string: !!python/unicode '{"extra_specs": {"tenant": "public"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-27322a3b-0b4f-40ca-9b82-cbaf1479977f]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-deadbeaf-4078-11e7-8228-000000000000
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-beab4212-a8dd-40e5-964b-a06d75ffecd7]
    status: {code: 202, message: Accepted}
version: 1
