interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-9ec1c1b0-9770-41a9-ac6d-5c84d4770eb6]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-08-16T13:21:54.000000Z",
        "expires": "2038-01-15T16:17:18Z", "id": "consealed id", "tenant": {"id":
        "4e632076f7004f908c8da67345a7592e", "enabled": true, "description": "", "name":
        "consealed name"}, "audit_ids": ["bTNG410dQ5-waBBc5ao2sA"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/4e632076f7004f908c8da67345a7592e",
        "region": "lab-1", "internalURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/4e632076f7004f908c8da67345a7592e",
        "id": "2e61ac6cc99345a1b152779600918c2e", "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/4e632076f7004f908c8da67345a7592e"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696", "id":
        "6ec649b0f7cc4554a041defadf552fc1", "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.nova-lab-1.mgm.servers.com:8774/v2/4e632076f7004f908c8da67345a7592e/servers/detail?all_tenants=1
  response:
    body: {string: !!python/unicode '{"forbidden": {"message": "Policy doesn''t allow
        os_compute_api:servers:detail:get_all_tenants to be performed.", "code": 403}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-compute-request-id: [req-b76dc82f-d49a-42a0-95c9-fb4263f454c6]
    status: {code: 403, message: Forbidden}
version: 1
