interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-9cf006e4-36d8-44fa-97b2-619bead782ed]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-08-16T15:46:26.000000Z",
        "expires": "2038-01-15T16:17:18Z", "id": "consealed id", "tenant": {"id":
        "1d7f6604ebb54c69820f9d157bcea5f9", "enabled": true, "description": "", "name":
        "consealed name"}, "audit_ids": ["nW7uC8wOTD2bRk2bY2qR6g"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "region": "ams-1", "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}],
        "endpoints_links": [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      pytest-filtered: ['true']
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/2eb14fc3-4edc-4068-8748-988f369302c2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-checksum: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-04-11T10:01:04.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [2eb14fc3-4edc-4068-8748-988f369302c2]
      x-image-meta-is_public: ['True']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [Obsolete Ubuntu 16.04 Xenial (x86_64)]
      x-image-meta-owner: [307a54ceb3a44cc8a6ea14caaf62ff7e]
      x-image-meta-property-display_order: ['2']
      x-image-meta-property-obsolete: ['True']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['544962560']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-04-20T10:42:39.000000']
      x-openstack-request-id: [req-c03120fc-6d65-4b0a-8b9e-8c26f4f6e58e]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000"}}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuQdcsccxV9OKIZwv41SZXxfBoS+9ABD/QJTbTueQpxmgQEudAUSwf6N3NolrWHu4NJDL6VDo3S4tKj0uRoiVS631vpuKWeG+VwbeWb4G5tMrAkW0bNkceCUMlgvl7T68LX46m5O86Qu0vWDyXV1QKeBgYlBsZiVK2U5K8boWGXx4ppeEzbarcDGq6ZyNP84YC+3D2NOp7Jq9F8vzZvnGmWs4C6ZFqQbvTNyOwpntQvLQxl7SZDWR2We00U7yd99o2aGwf7nOffbHOhXgHbsUsE6GLaESt/3C/+ToADwcKePUZ06gtSy4G0ujoUS7dtYE9Jd1fPFFqqIUn8AD+x8M7
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqAIBAAKCAQEArkHXLHHMVfTiiGcL+NUmV8XwaEvvQAQ/0CU207nkKcZoEBLn\nQFEsH+jdzaJa1h7uDSQy+lQ6N0uLSo9LkaIlUut9b6bilnhvlcG3lm+BubTKwJFt\nGzZHHglDJYL5e0+vC1+OpuTvOkLtL1g8l1dUCngYGJQbGYlStlOSvG6Fhl8eKaXh\nM22q3AxqumcjT/OGAvtw9jTqeyavRfL82b5xplrOAumRakG70zcjsKZ7ULy0MZe0\nmQ1kdlntNFO8nffaNmhsH+5zn32xzoV4B27FLBOhi2hErf9wv/k6AA8HCnj1GdOo\nLUsuBtLo6FEu3bWBPSXdXzxRaqiFJ/AA/sfDOwIDAQABAoIBAAcPNcdgKNYGoLLD\n8fE3uWDu7OlcwimGwosNJuZ27m5e0lJsYZ/yaeY1Cd9Nx35LLHutzr7jcKRS1CbG\nHVq[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c6982[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-09702bcf-9738-4874-b3db-d15e46e8147c]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "imageRef": "2eb14fc3-4edc-4068-8748-988f369302c2", "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "fe2acef0-4383-4432-8fca-f9e23f835dd5"},
      {"uuid": "a3af8097-f348-4767-97c3-b9bf75263ef9"}, {"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14564"}]}}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "bookmark"}], "adminPass": "eP6aGNgVDq3m"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b']
      x-compute-request-id: [req-2427f047-8c7c-43eb-a933-4971cea04ab0]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-08-16T15:46:29Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "2eb14fc3-4edc-4068-8748-988f369302c2", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/2eb14fc3-4edc-4068-8748-988f369302c2",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "58fc8f54-7571-4c7e-976a-20fb9ac4180b", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "05678d47b3ce4c7bab64a729b39a63e0",
        "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000", "created": "2017-08-16T15:46:29Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-c80596dd-2586-4829-91a1-76610e504a28]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-08-16T15:47:01Z",
        "hostId": "febed3d8de5fffee25680314e7b0fa31461dae640665992c5bfaf241", "addresses":
        {"internet_188.42.217.224/27": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:15:89:5d",
        "version": 4, "addr": "188.42.217.239", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:60:0b:ec", "version": 4, "addr": "192.168.6.58",
        "OS-EXT-IPS:type": "fixed"}], "global_private": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:ac:e1:32", "version": 4, "addr": "10.160.2.141", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b",
        "rel": "bookmark"}], "key_name": "DIB[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/58fc8f54-7571-4c7e-976a-20fb9ac4180b/os-interface
  response:
    body: {string: !!python/unicode '{"interfaceAttachments": [{"port_state": "ACTIVE",
        "fixed_ips": [{"subnet_id": "57580898-9d59-43da-a418-5100a3c74ba9", "ip_address":
        "188.42.217.239"}], "port_id": "4de622e1-73df-404a-83c5-abde0c6dcfa8", "net_id":
        "fe2acef0-4383-4432-8fca-f9e23f835dd5", "mac_addr": "fa:16:3e:15:89:5d"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "8c13d2de-e9a6-4842-9e67-ab3ac8e26a13",
        "ip_address": "10.160.2.141"}], "port_id": "a40ff733-7004-4020-92ca-99f1a39341ce",
        "net_id": "c7ccdf1c-e6c3-4257-8b2e-740748c14564", "mac_addr": "fa:16:3e:ac:e1:32"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "d7408a31-19dc-4af9-83d5-cf4586aab0de",
        "ip_address": "192.168.6.58"}], "port_id": "d047db41-0bfc-419f-8325-7deac829341e",
        "net_id": "a3af8097-f348-4767-97c3-b9bf75263ef9", "mac_addr": "fa:16:3e:60:0b:ec"}]}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-d844b66e-3c0e-40b2-9ee3-dc5d1baa0137]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30/os-extra_specs
  response:
    body: {string: !!python/unicode '{"extra_specs": {"tenant": "public"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-3d69d3b7-2454-4695-b42e-9ffaa3e235f0]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-deadbeaf-4078-11e7-8228-000000000000
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-20e8c0a3-a6d6-4f4b-9b2f-f2efc8582152]
    status: {code: 202, message: Accepted}
version: 1
