interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-5dcc61e7-0707-481c-a816-e6d67ee6d64b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-18T16:41:37.000000Z",
        "expires": "2037-05-19T16:41:37Z", "id": "e5c3fb28c3ba469fb0f160707045a5b2",
        "tenant": {"description": "28 tenant (by test, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["yBWiaGjWTN-cpbqi3h_1_A"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}], "endpoints_links":
        [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode e5c3fb28c3ba469fb0f160707045a5b2]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/deadbeaf-0000-0000-0000-b7a14cdd1169
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/plain; charset=UTF-8]
      x-openstack-request-id: [req-ea98ada7-505d-4ecf-90eb-62ba166d19b9]
    status: {code: 404, message: Not Found}
version: 1
