interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-c03ee37f-5bc4-48d2-a0c5-86c8a78cf216]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-08-16T13:51:19.000000Z",
        "expires": "2038-01-15T16:17:18Z", "id": "consealed id", "tenant": {"id":
        "61ed529dc6024dc5968acf32b6f4142c", "enabled": true, "description": "", "name":
        "consealed name"}, "audit_ids": ["SEScBX1YToySSoyNHT7HGw"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "region": "lab-1", "internalURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "id": "2e61ac6cc99345a1b152779600918c2e", "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696", "id":
        "6ec649b0f7cc4554a041defadf552fc1", "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776[...]
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c/servers/detail?all_tenants=1
  response:
    body: {string: !!python/unicode '{"servers": [{"status": "SHUTOFF", "updated":
        "2017-08-02T10:51:02Z", "hostId": "2e7e1bbe1771c8d8b4d322a5d71514dc0f456a963309be16a91b6f46",
        "addresses": {"internet_188.42.163.192/27": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:13:4b:46",
        "version": 4, "addr": "188.42.163.197", "OS-EXT-IPS:type": "fixed"}]}, "links":
        [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c/servers/648437c7-29d1-4e50-bb82-a795997217cd",
        "rel": "self"}, {"href": "http://compute.nova-lab-1.mgm.servers.com:8774/61ed529dc6024dc5968acf32b6f4142c/servers/648437c7-29d1-4e50-bb82-a795997217cd",
        "rel": "bookmark"}], "key_name": "dso", "image": {"id": "fb929cf5-fac1-4d60-8318-58391f0e8ae9",
        "links": [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/61ed529dc6024dc5968acf32b6f4142c/images/fb929cf5-fac1-4d60-8318-58391f0e8ae9",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "stopped", "OS-SRV-USG:launched_at": "2017-07-21T07:30:26.000000", "flavor":
        {"id": "30", "links": [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/61ed529dc6024dc5968acf32b6f4142c/flavors/30",
        "rel": "bookmark"}]}, "id": "648437c7-29d1-4e50-bb82-a795997217cd", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "ef33e7f637a145c38c06eac9019904e9",
        "name": "for_test_compute1", "created": "2017-07-21T07:29:59Z", "tenant_id":
        "4e632076f7004f908c8da67345a7592e", "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached":
        [], "accessIPv4": "", "accessIPv6": "", "OS-EXT-STS:power_state": 0, "config_drive":
        "", "metadata": {}}, {"status": "SHUTOFF", "updated": "2017-08-02T10:51:02Z",
        "hostId": "2e7e1bbe1771c8d8b4d322a5d71514dc0f456a963309be16a91b6f46", "addresses":
        {"internet_188.42.163.192/27": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:cd:39:f9",
        "version": 4, "addr": "188.42.163.195", "OS-EXT-IPS:type": "fixed"}]}, "links":
        [{"href": "http://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c/servers/b3d11e44-2ac4-4df9-a575-32c52718be7a",
        "rel": "self[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      pytest-filtered: ['true']
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?property-obsolete=true&limit=20
  response:
    body: {string: !!python/unicode '{"images": []}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-openstack-request-id: [req-29419258-7347-40dc-a620-6ea242466fdb]
    status: {code: 200, message: OK}
version: 1
