interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-ad8b4636-7c19-42dc-a778-05477e7b4ef9]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-18T16:41:19.000000Z",
        "expires": "2037-05-19T16:41:19Z", "id": "94a8fce9f06c4c67ba36ebb942547875",
        "tenant": {"description": "28 tenant (by test, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["uvUvtoNnTC-8qpUxGKUijQ"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "id": "50cef89163cc43ca8bda7e369cc52e43", "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2",
        "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}], "endpoints_links":
        [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "id": "1728d1eb1fce49299f3b9af2b483ea07", "internalURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compu[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/2eb14fc3-4edc-4068-8748-988f369302c2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-checksum: [d6c07e3fca12f45db9c2193527e04826]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-04-11T10:01:04.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [qcow2]
      x-image-meta-id: [2eb14fc3-4edc-4068-8748-988f369302c2]
      x-image-meta-is_public: ['True']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [Obsolete Ubuntu 16.04 Xenial (x86_64)]
      x-image-meta-owner: [307a54ceb3a44cc8a6ea14caaf62ff7e]
      x-image-meta-property-display_order: ['2']
      x-image-meta-property-obsolete: ['True']
      x-image-meta-protected: ['False']
      x-image-meta-size: ['544962560']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-04-20T10:42:39.000000']
      x-openstack-request-id: [req-e59dec71-23f2-4ebc-a52d-b049ba6f1c27]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-43cb59db-f4aa-4529-a539-76888de8b6e4"}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCFiImErIvS02TbMW0ZyWfjicV1OdU8AVUcM/YbAUf1gruCwP5T60Cs503C8c+ykyOWsEVRzv2l4TZI679WvT6+wnG7Bz6Wk8m5Sicx0amnfrnoHVAvZEywxihi4nBq/CfGMpe6fofT8hx4YLBWaf5Z0jiKY3Uh2zVPCG6kZhFvfbXB5JYHoPvKxM570NbclHm/zhFvsZK1NXJWVxlYQI1tP+LPJK5rfsBlMAYHzK2xHezNJr5bd3F7GfmZuP+t8dVOTX/G4mouuC54K2rBvJvwa69e5fvAAp7tT2eAdo6Y7WpV83M61Gfi+Av7bNvZEiPqNizO1aaoyDT5zcsQxHYT
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqgIBAAKCAQEAhYiJhKyL0tNk2zFtGcln44nFdTnVPAFVHDP2GwFH9YK7gsD+\nU+tArOdNwvHPspMjlrBFUc79peE2SOu/Vr0+vsJxuwc+lpPJuUonMdGpp3656B1Q\nL2RMsMYoYuJwavwnxjKXun6H0/IceGCwVmn+WdI4imN1Ids1TwhupGYRb321weSW\nB6D7ysTOe9DW3JR5v84Rb7GStTVyVlcZWECNbT/izySua37AZTAGB8ytsR3szSa+\nW3dxexn5mbj/rfHVTk1/xuJqLrgueCtqwbyb8GuvXuX7wAKe7U9ngHaOmO1qVfNz\nOtRn4vgL+2zb2RIj6jYsztWmqMg0+c3LEMR2EwIDAQABAoIBADNWZuhnHeqT8zaC\nLhu33wUPtqZ28Y/8QyhwobGIMI4nEMgYQq8oxtiypKbKKLvS7d/FLSFinwnjJ+ep\nGwr[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.c[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-73980ec5-9bdb-45a9-bb8f-ee334a6d28b2]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-17abf2e9-3886-46e5-938e-4b72bde31cc3",
      "imageRef": "2eb14fc3-4edc-4068-8748-988f369302c2", "key_name": "DIBCTL-43cb59db-f4aa-4529-a539-76888de8b6e4",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14564"},
      {"uuid": "a3af8097-f348-4767-97c3-b9bf75263ef9"}, {"uuid": "db6e78cb-99fa-4223-9a6f-3b4a9b486d9b"}]}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "82fffe3b-7962-4efc-8667-b9a06c3709be",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be",
        "rel": "bookmark"}], "adminPass": "xCWane3JgJCr"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be']
      x-compute-request-id: [req-c697ae52-5670-432c-a702-25c506e958f2]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-05-18T16:41:22Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be",
        "rel": "bookmark"}], "key_name": "DIBCTL-43cb59db-f4aa-4529-a539-76888de8b6e4",
        "image": {"id": "2eb14fc3-4edc-4068-8748-988f369302c2", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/2eb14fc3-4edc-4068-8748-988f369302c2",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "82fffe3b-7962-4efc-8667-b9a06c3709be", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "16665fa4f4a54f0da3e72e9bf8f08ffc",
        "name": "DIBCTL-17abf2e9-3886-46e5-938e-4b72bde31cc3", "created": "2017-05-18T16:41:22Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-59878b4a-62f6-44c2-89ad-d73bc1827f52]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-05-18T16:41:35Z",
        "hostId": "5a17e4ea4ab8ed1c1f2d745f57246997fd33955066229974bc201ead", "addresses":
        {"global_private": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:ee:d9:4f", "version":
        4, "addr": "10.160.2.142", "OS-EXT-IPS:type": "fixed"}], "local_private":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:d9:f2:c6", "version": 4, "addr": "192.168.2.208",
        "OS-EXT-IPS:type": "fixed"}], "internet_213.196.39.192/27": [{"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:97:53:5d", "version": 4, "addr": "213.196.39.198", "OS-EXT-IPS:type":
        "fixed"}]}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be",
        "rel": "self"}, {"href": "http://co[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/82fffe3b-7962-4efc-8667-b9a06c3709be/os-interface
  response:
    body: {string: !!python/unicode '{"interfaceAttachments": [{"port_state": "ACTIVE",
        "fixed_ips": [{"subnet_id": "d7408a31-19dc-4af9-83d5-cf4586aab0de", "ip_address":
        "192.168.2.208"}], "port_id": "1b2ccea1-cd96-41d0-81e4-89853758ec92", "net_id":
        "a3af8097-f348-4767-97c3-b9bf75263ef9", "mac_addr": "fa:16:3e:d9:f2:c6"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "9c89e758-d603-4880-8160-942cfa60e48a",
        "ip_address": "213.196.39.198"}], "port_id": "3b66482a-763d-4ac3-a0b3-a423f08da13d",
        "net_id": "db6e78cb-99fa-4223-9a6f-3b4a9b486d9b", "mac_addr": "fa:16:3e:97:53:5d"},
        {"port_state": "ACTIVE", "fixed_ips": [{"subnet_id": "8c13d2de-e9a6-4842-9e67-ab3ac8e26a13",
        "ip_address": "10.160.2.142"}], "port_id": "92fefa71-6e62-443f-bbd8-94cb2c3b4d6d",
        "net_id": "c7ccdf1c-e6c3-4257-8b2e-740748c14564", "mac_addr": "fa:16:3e:ee:d9:4f"}]}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-71bc23cd-5bb7-48dd-8c42-411a0312a38d]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30/os-extra_specs
  response:
    body: {string: !!python/unicode '{"extra_specs": {"tenant": "public"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-fb07622f-4381-4ec9-b26b-e5257eaa7b4f]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 94a8fce9f06c4c67ba36ebb942547875]
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-43cb59db-f4aa-4529-a539-76888de8b6e4
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-0631d8ea-4263-4822-8762-ba22e6a35f1f]
    status: {code: 202, message: Accepted}
version: 1
