interactions:
- request:
    body: null
    headers:
      pytest-filtered: ['true']
    method: GET
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-0783bc0e-8c4b-4fa1-b21e-6fcc8a124456]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": "{\"tenantName\": \"pyvcr\", \"passwordCredentials\":
      {\"username\": \"username\", \"password\": \"password\"}}"}'
    headers:
      Content-Type: [application/json]
      pytest-filtered: ['true']
    method: POST
    uri: https://auth.nova-lab-1.mgm.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-08-16T12:05:02.000000Z",
        "expires": "2038-01-15T16:17:18Z", "id": "consealed id", "tenant": {"id":
        "61ed529dc6024dc5968acf32b6f4142c", "enabled": true, "description": "", "name":
        "consealed name"}, "audit_ids": ["60Ya87c2R3KdXvgQydudlg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "region": "lab-1", "internalURL": "http://nova-api.p.nova-lab-1.servers.com:28774/v2/61ed529dc6024dc5968acf32b6f4142c",
        "id": "2e61ac6cc99345a1b152779600918c2e", "publicURL": "https://compute.nova-lab-1.mgm.servers.com:8774/v2/61ed529dc6024dc5968acf32b6f4142c"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://neutron-server.p.nova-lab-1.servers.com:29696", "region": "lab-1",
        "internalURL": "http://neutron-server.p.nova-lab-1.servers.com:29696", "id":
        "6ec649b0f7cc4554a041defadf552fc1", "publicURL": "https://network.nova-lab-1.mgm.servers.com:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://nova-api.p.nova-lab-1.servers.com:28776[...]
- request:
    body: !!python/unicode 'test

'
    headers:
      Content-Type: [application/octet-stream]
      pytest-filtered: ['true']
      x-image-meta-container_format: [bare]
      x-image-meta-disk_format: [qcow2]
      x-image-meta-is_public: ['False']
      x-image-meta-name: [Empty image]
    method: POST
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images
  response:
    body: {string: !!python/unicode '{"image": {"status": "active", "deleted": false,
        "container_format": "bare", "min_ram": 0, "updated_at": "2017-08-16T12:05:04.000000",
        "owner": "61ed529dc6024dc5968acf32b6f4142c", "min_disk": 0, "is_public": false,
        "deleted_at": null, "id": "4c33a549-3713-476a-8835-0079145d752b", "size":
        5, "virtual_size": null, "name": "Empty image", "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249",
        "created_at": "2017-08-16T12:05:03.000000", "disk_format": "qcow2", "properties":
        {}, "protected": false}}'}
    headers:
      content-type: [application/json]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      location: ['http://images.nova-lab-1.mgm.servers.com:9292/v1/images/4c33a549-3713-476a-8835-0079145d752b']
      x-openstack-request-id: [req-be9f6c02-659a-4974-a8cc-b08fad2e979c]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      pytest-filtered: ['true']
    method: GET
    uri: https://images.nova-lab-1.mgm.servers.com:9292/v2/v1/images/detail?limit=20&name=Empty+image
  response:
    body: {string: !!python/unicode '{"images": [{"status": "active", "deleted_at":
        null, "name": "Empty image", "deleted": false, "container_format": "bare",
        "created_at": "2017-08-16T12:05:03.000000", "disk_format": "qcow2", "updated_at":
        "2017-08-16T12:05:04.000000", "min_disk": 0, "protected": false, "id": "4c33a549-3713-476a-8835-0079145d752b",
        "min_ram": 0, "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249", "owner": "61ed529dc6024dc5968acf32b6f4142c",
        "is_public": false, "virtual_size": null, "properties": {}, "size": 5}]}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-openstack-request-id: [req-e0d638dd-5d37-4bff-8f24-77f2eb6d0c56]
    status: {code: 200, message: OK}
version: 1
