interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0
  response:
    body: {string: !!python/unicode '{"version": {"status": "stable", "updated": "2014-04-17T00:00:00Z",
        "media-types": [{"base": "application/json", "type": "application/vnd.openstack.identity-v2.0+json"}],
        "id": "v2.0", "links": [{"href": "https://auth.servers.nl01.cloud.servers.com:5000/v2.0/",
        "rel": "self"}, {"href": "http://docs.openstack.org/", "type": "text/html",
        "rel": "describedby"}]}}'}
    headers:
      content-type: [application/json]
      x-distribution: [Ubuntu]
      x-openstack-request-id: [req-89ce7912-3a63-4533-8313-8f0e90268d4e]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"auth": {"tenantName": "28", "passwordCredentials": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://auth.servers.nl01.cloud.servers.com:5000/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access": {"token": {"issued_at": "2017-05-30T12:36:13.000000Z",
        "expires": "2035-05-31T12:36:13Z", "id": "806c41ca5e6d4a608eae4bc5d5d58218",
        "tenant": {"description": "28 tenant (by amarao, used by username)", "enabled":
        true, "id": "1d7f6604ebb54c69820f9d157bcea5f9", "name": "28"}, "audit_ids":
        ["Jq8FGjnHSMW3JNdcr63bMw"]}, "serviceCatalog": [{"endpoints": [{"adminURL":
        "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "region": "ams-1",
        "internalURL": "http://glance-api.p.nova-ams-1.servers.com:29292/v2", "id":
        "50cef89163cc43ca8bda7e369cc52e43", "publicURL": "https://images.servers.nl01.cloud.servers.com:9292/v2"}],
        "endpoints_links": [], "type": "image", "name": "glance"}, {"endpoints": [{"adminURL":
        "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "region": "ams-1", "internalURL": "http://nova-api.p.nova-ams-1.servers.com:28774/v2/1d7f6604ebb54c69820f9d157bcea5f9",
        "id": "1728d1eb1fce49299f3b9af2b483ea07", "publicURL": "https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9"}],
        "endpoints_links": [], "type": "compute", "na[...]
- request:
    body: !!python/unicode '{"keypair": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000"}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs
  response:
    body: {string: !!python/unicode '{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/kBOesnOUhSeq4zpRMWEvyuOMABOr6t5lf0lEnNdM2mnJKf4L9+0kZ95W4i7LR+JCSiavbKvEiYsnAIAs7AibryJK99lCWqm2jkvPJ41BNY4qRCYjhz9D6NPqTM6JgAt3UrVsySSbPAIJ3l9+Z+hZM62er0ho/GUluqYFw5A0u9ryp9K0rqSBccw5WlXbjZUMEYOurhX6f5qSnlUe0YATofoUU9r3SoimCmIWkmS3fcIy2NmXIlf2QC/I3fA6LIEzRfDd37n1GNorONluY0jwM8W49dJvl0yLPwai4BmnieIac/xHyxWORpSbdzbfVfhzZT/5VaaKyLXRYSu81miB
        Generated-by-Nova", "private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIIEqgIBAAKCAQEAv5ATnrJzlIUnquM6UTFhL8rjjAATq+reZX9JRJzXTNppySn+\nC/ftJGfeVuIuy0fiQkomr2yrxImLJwCALOwIm68iSvfZQlqpto5LzyeNQTWOKkQm\nI4c/Q+jT6kzOiYALd1K1bMkkmzwCCd5ffmfoWTOtnq9IaPxlJbqmBcOQNLva8qfS\ntK6kgXHMOVpV242VDBGDrq4V+n+akp5VHtGAE6H6FFPa90qIpgpiFpJkt33CMtjZ\nlyJX9kAvyN3wOiyBM0Xw3d+59RjaKzjZbmNI8DPFuPXSb5dMiz8GouAZp4niGnP8\nR8sVjkaUm3c231X4c2U/+VWmisi10WErvNZogQIDAQABAoIBAQCIWoyspIdCy3kN\n2Yo0KvrrovZPO+rEr3y4MF89uIpECR/NcdeEO2iQRmLr4zm9tqAl4VQiAC9PyTvE\nekX[...]
- request:
    body: !!python/unicode 'test

'
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
      x-image-meta-container_format: [bare]
      x-image-meta-disk_format: [raw]
      x-image-meta-is_public: ['False']
      x-image-meta-name: [DIBCTL-deadbeaf-4078-11e7-8228-000000000000]
    method: POST
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images
  response:
    body: {string: !!python/unicode '{"image": {"status": "active", "deleted": false,
        "container_format": "bare", "min_ram": 0, "updated_at": "2017-05-30T12:36:17.000000",
        "owner": "1d7f6604ebb54c69820f9d157bcea5f9", "min_disk": 0, "is_public": false,
        "deleted_at": null, "id": "cdb161ca-e974-4959-8966-7b2f6b61b193", "size":
        5, "virtual_size": null, "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "checksum": "d8e8fca2dc0f896fd7cb4cb0031ba249", "created_at": "2017-05-30T12:36:16.000000",
        "disk_format": "raw", "properties": {}, "protected": false}}'}
    headers:
      content-type: [application/json]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      location: ['http://images.servers.nl01.cloud.servers.com:9292/v1/images/cdb161ca-e974-4959-8966-7b2f6b61b193']
      x-openstack-request-id: [req-dcfb182f-ec13-40b6-98b1-e4d19eaa7616]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/detail
  response:
    body: {string: !!python/unicode '{"flavors": [{"name": "SSD.100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "bookmark"}], "ram": 6144, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 101, "id": "100"}, {"name": "SSD.120", "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/120",
        "rel": "bookmark"}], "ram": 8192, "OS-FLV-DISABLED:disabled": false, "vcpus":
        4, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "d[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors
  response:
    body: {string: !!python/unicode '{"flavors": [{"id": "100", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/100",
        "rel": "self"}, {"href": "http://compute.servers.nl01.c[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30
  response:
    body: {string: !!python/unicode '{"flavor": {"name": "SSD.30", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}], "ram": 1024, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 30, "id": "30"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-7f575c32-2060-4100-a478-717fb8cf6dd4]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"server": {"name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "imageRef": "cdb161ca-e974-4959-8966-7b2f6b61b193", "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
      "flavorRef": "30", "max_count": 1, "min_count": 1, "networks": [{"uuid": "c7ccdf1c-e6c3-4257-8b2e-740748c14564"}]}}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: POST
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers
  response:
    body: {string: !!python/unicode '{"server": {"security_groups": [{"name": "default"}],
        "OS-DCF:diskConfig": "MANUAL", "id": "ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "bookmark"}], "adminPass": "ghD2U9FFia9E"}}'}
    headers:
      content-type: [application/json]
      location: ['http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767']
      x-compute-request-id: [req-e98fb482-d516-4525-b328-9ce15bb13c82]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767
  response:
    body: {string: !!python/unicode '{"server": {"status": "BUILD", "updated": "2017-05-30T12:36:18Z",
        "hostId": "", "addresses": {}, "links": [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "cdb161ca-e974-4959-8966-7b2f6b61b193", "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/images/cdb161ca-e974-4959-8966-7b2f6b61b193",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "OS-SRV-USG:launched_at": null, "flavor": {"id": "30", "links":
        [{"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30",
        "rel": "bookmark"}]}, "id": "ac86d11e-db15-4d15-8b8c-9a4e3411e767", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "16665fa4f4a54f0da3e72e9bf8f08ffc",
        "name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000", "created": "2017-05-30T12:36:18Z",
        "tenant_id": "1d7f6604ebb54c69820f9d157bcea5f9", "OS-DCF:diskConfig": "MANUAL",
        "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 0, "config_drive": "", "metadata":
        {}}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-5e4b5fff-457f-431a-9da9-f38a05677cb7]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767
  response:
    body: {string: !!python/unicode '{"server": {"status": "ACTIVE", "updated": "2017-05-30T12:36:26Z",
        "hostId": "78e8464765f173ecf3eb401f73011673d4576b6afe6ef9af38585ce0", "addresses":
        {"global_private": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:e7:66:e6", "version":
        4, "addr": "10.160.2.140", "OS-EXT-IPS:type": "fixed"}]}, "links": [{"href":
        "http://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "self"}, {"href": "http://compute.servers.nl01.cloud.servers.com:8774/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767",
        "rel": "bookmark"}], "key_name": "DIBCTL-deadbeaf-4078-11e7-8228-000000000000",
        "image": {"id": "cdb161ca-e97[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/servers/ac86d11e-db15-4d15-8b8c-9a4e3411e767/os-interface
  response:
    body: {string: !!python/unicode '{"interfaceAttachments": [{"port_state": "ACTIVE",
        "fixed_ips": [{"subnet_id": "8c13d2de-e9a6-4842-9e67-ab3ac8e26a13", "ip_address":
        "10.160.2.140"}], "port_id": "d0b65808-400d-4d2b-a271-5173382b2557", "net_id":
        "c7ccdf1c-e6c3-4257-8b2e-740748c14564", "mac_addr": "fa:16:3e:e7:66:e6"}]}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-86a53e47-9939-4cd3-97be-8fafc3050fc0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: GET
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/flavors/30/os-extra_specs
  response:
    body: {string: !!python/unicode '{"extra_specs": {"tenant": "public"}}'}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-a68b8a8b-dc5b-4c9b-862d-de701a6c7e31]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: DELETE
    uri: https://compute.servers.nl01.cloud.servers.com:8774/v2/1d7f6604ebb54c69820f9d157bcea5f9/os-keypairs/DIBCTL-deadbeaf-4078-11e7-8228-000000000000
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-compute-request-id: [req-d3ced636-2f4c-4b93-b85c-365262abf96e]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream]
      X-Auth-Token: [!!python/unicode 806c41ca5e6d4a608eae4bc5d5d58218]
    method: HEAD
    uri: https://images.servers.nl01.cloud.servers.com:9292/v2/v1/images/cdb161ca-e974-4959-8966-7b2f6b61b193
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
      etag: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      x-image-meta-checksum: [d8e8fca2dc0f896fd7cb4cb0031ba249]
      x-image-meta-container_format: [bare]
      x-image-meta-created_at: ['2017-05-30T12:36:16.000000']
      x-image-meta-deleted: ['False']
      x-image-meta-disk_format: [raw]
      x-image-meta-id: [cdb161ca-e974-4959-8966-7b2f6b61b193]
      x-image-meta-is_public: ['False']
      x-image-meta-min_disk: ['0']
      x-image-meta-min_ram: ['0']
      x-image-meta-name: [DIBCTL-deadbeaf-4078-11e7-8228-000000000000]
      x-image-meta-owner: [1d7f6604ebb54c69820f9d157bcea5f9]
      x-image-meta-protected: ['False']
      x-image-meta-size: ['5']
      x-image-meta-status: [active]
      x-image-meta-updated_at: ['2017-05-30T12:36:17.000000']
      x-openstack-request-id: [req-45198449-f019-43f5-8083-898e57573318]
    status: {code: 200, message: OK}
[...]
